=breadcrumb_tag do
  %li.active
    = t('headers.authors.new')
  %li
    = link_to t('headers.authors.index'), authors_path
  %li
    Модели

.page-header
  %h1= t('headers.authors.new')

= render 'form'
