=breadcrumb_tag do
  %li.active
    Книги
  %li
    Модели

.page-header
  %h1= t('headers.books.index')

= link_to t('buttons.new.book'), new_book_path, class: 'btn btn-primary'

- @books.each do |book|
  = render 'book', book: book
