.form-wrapper
  border: 1px black solid
  margin-bottom: 3px

  .row
    margin: 0
    border: 0


  .form-header
    padding: 5px
    font-weight: bold
    font-size: 1.1em

    height: 35px
    background: #AFDA5F

  .form-body
    width: 100%
    padding: 4px
    overflow: auto

    .form-group
      border-top: 1px solid black

    .add-form
      display: flex
      flex-direction: row
      justify-content: space-around
      margin-bottom: 3px

  td
    text-align: center

.nested-fields

  input[type=text]
    min-width: 100px

  .links
    padding-left: 15px
    padding-top: 15px


.mb5
  margin-bottom: 5px
