=breadcrumb_tag do
  %li.active
    = t('headers.locations.new')
  %li
    = link_to t('headers.locations.index'), locations_path
  %li
    Модели

.page-header
  %h1= t('headers.locations.new')

= render 'form'
